@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (max-width: 1023px) {}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1500px) {}

.homeContainer .homeWrapper .projectLogo img {
  height: 100%;
  max-height: 120px;
}

.homeContainer .homeWrapper .projectLogo {
  position: relative;
  justify-content: center;
}

.promoSection {
  font-size: 100%;
}

.promo-space {
  width: 10px;
}

.framework-link {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 25px;
  padding-left: 10px;
  justify-content: space-between;
  border-radius: 24px;
  border: solid 1px #322e63;
}

.framework-link:hover {
  background-color: #66d4f1;
}

.framework-link>.title {
  padding-left: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  color: #322e63;
}

.framework-link>.image {
  height: 30px;
}

.framework-link:hover>.title {
  color: #fff;
}

.framework-link:hover>.image {
  color: #fff;
}

.framework-link:hover>.image>img {
  fill: #fff;
}

.frameworkLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
  margin-left: 25px;
  color: #182F3D;
}

.frameworkLink:hover {
  color: #00A388;
}

.frameworkLink .image {
  width: 48px;
  height: 48px;
}

.frameworkLink .image:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.frameworkLink .image>img {
  max-width: 48px;
  max-height: 48px;
}

.nav-footer {
  background-color: #38216b;
  padding-top: 0;
}

.nav-footer .footer-brand {
  background-color: #38216b;
  box-shadow: 0 1px 0 0 #4c3189;
  padding: 1em 0;
}

.nav-footer .footer-brand > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0;
  max-width: 1080px;
}

.nav-footer .footer-brand .copyrights {
  font-size: 14px;
  color: #a294c3;
}

.nav-footer .sitemap {
  margin: 2em auto 1em;
}

.nav-footer h5 {
  font-size: 18px;
  font-weight: 600;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  display: none;
}

.blockContent h2 {
  color: #66d4f1;
}

.siteNavItemActive {
  font-weight: 600;
}
