@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.backgroundTop {
  background-image: url(/img/background_top_right.png);
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: right 0 top 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@media only screen and (max-width: 1023px) {
  .backgroundTop {
    background-position: right 0 top 100px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 736px) {
  .framework-link {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  .homeContainer .homeWrapper {
    padding: 7em 10px;
  }
}

@media only screen and (max-width: 1023px) {}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1500px) {}

.homeContainer {
  margin-top: 10vw;
}

.homeContainer .homeWrapper .projectLogo img {
  height: 100%;
  max-height: 120px;
}

.homeContainer .homeWrapper .projectLogo {
  position: relative;
  justify-content: center;
}

.promoSection {
  font-size: 100%;
}

.promo-space {
  width: 10px;
}

.framework-link {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 25px;
  padding-left: 10px;
  justify-content: space-between;
  border-radius: 24px;
  border: solid 1px #322e63;
}

.framework-link:hover {
  background-color: #66d4f1;
}

.framework-link>.title {
  padding-left: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  color: #322e63;
}

.framework-link>.image {
  height: 30px;
}

.framework-link:hover>.title {
  color: #fff;
}

.framework-link:hover>.image {
  color: #fff;
}

.framework-link:hover>.image>img {
  fill: #fff;
}

a {
  color: #66d4f1;
}

a:hover {
  color: #38216b;
}

.frameworkLink .image {
  width: 48px;
  height: 48px;
}

.frameworkLink .image:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.frameworkLink .image>img {
  max-width: 48px;
  max-height: 48px;
}

.nav-footer {
  background-color: #38216b;
  padding-top: 0;
}

.nav-footer .footer-brand {
  background-color: #38216b;
  box-shadow: 0 1px 0 0 #4c3189;
  padding: 1em 0;
}

.nav-footer .footer-brand > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0;
  max-width: 980px;
}

.nav-footer .footer-brand .copyrights {
  font-size: 14px;
  color: #a294c3;
}

.nav-footer .sitemap {
  margin: 2em auto 1em;
  max-width: 980px;
}

.nav-footer h5 {
  font-size: 18px;
  font-weight: 600;
}

@media only screen and (max-width: 1023px) {
  .fixedHeaderContainer {
    position: fixed !important;
    background: white !important;
  }
}

.fixedHeaderContainer {
  padding-top: 16px;
  background: none;
  position: relative;
}

.fixedHeaderContainer header {
  align-items: flex-end;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  display: none;
}

.fixedHeaderContainer header a {
  height: 45px;
}

.fixedHeaderContainer header nav ul li:not(:last-child) {
  margin-right: 30px;
}

.blockContent h2 {
  font-size: 20px;
  font-weight: 700;
  color: #66d4f1;
}

.siteNavItemActive {
  font-weight: 600;
}

.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    border-radius: 20px;
  }
}

.projectTitle {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 1em;
  font-size: 32px;
  font-weight: 800;
}

.projectDescription {
  font-family: "Source Sans Pro";
  font-size: 20px;
  line-height: 1.4;
  color: #95a0c9;
}

.navigationSlider .slidingNav ul li a {
  font-family: "Source Sans Pro";
  color: #322e63;
}

.navSearchWrapper input {
  background-color: transparent !important;
  color: #322e63 !important;
}

.navSearchWrapper input::placeholder {
  color: #322e63;
}

.navSearchWrapper:before {
  border-color: #322e63;
}

.navSearchWrapper:after {
  background: #322e63;
}

.navPusher {
  position: static;
}

.feature {
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 26px 26px 0 rgba(231, 235, 242, 0.5), 0 0 1px 0 rgba(10, 31, 68, 0.07);
}

.feature .blockContent > h2 p {
  font-family: Source Sans Pro;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  color: #66d4f1;
}

.feature .blockContent > :not(h2) p {
  font-family: SourceSansPro;
  font-size: 16px;
  line-height: 1.31;
  color: #95a0c9;
}

.containerBottom {
  position: relative;
}

.containerBottom .transparent {
  height: 150px;
}

.containerBottom .colored {
  height: 75px;
  background-color: #38216b;
}

.containerBottom img.left {
  position: absolute;
  bottom: 30px;
  left: 126px;
}

.containerBottom img.center {
  position: absolute;
  bottom: 0;
  right: 0;
}

.containerBottom img.right {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.nav-footer .sitemap h5 {
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.nav-footer .sitemap a {
  font-family: "Source Sans Pro";
  font-size: 16px;
  color: #a294c3;
}